@model Sys_C_V_Dario_SVII.Models.Caj_Turno.Caj_TurnoBE
<div class="modal fade " id="MModificarTurno" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#2FCB21">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <center><h4 class="modal-title" style="color:#ffffff">MODIFICAR</h4></center>
            </div>
            <div class="modal-body">
                <form class="form ">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 ">
                                <label class="control-label">TURNO:</label>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-7">
                                @Html.TextBox("MtxtDscpTurno", Model.st_dscpTurno , new { type = "text", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 ">
                                <label class="control-label">H. INICIO:</label>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-7">
                                @Html.TextBox("MtxtHrInicio", DateTime.Parse(Model.st_hrInicio).ToString("hh:mm:ss") , new { type = "time", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 ">
                                <label class="control-label">H. FIN:</label>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-7">
                                @Html.TextBox("MtxtHrFin", DateTime.Parse(Model.st_hrFin).ToString("hh:mm:ss"), new { type = "time", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" name="btnGuardar" id="btnGuardar" class="btn btn-primary">GUARDAR</button>
                <button type="button" name="btnCancelar" id="btnCancelar" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
            </div>


        </div>
    </div>
</div>



