
@{
    ViewBag.Title = "LibroCajaGeneral";
}

<script type="text/javascript">
    $(function () {

    });
    function fn_ListarLibroCaja(_case, filtro) {
        fn_ListarTabla( _case , filtro , "/ListarLibroCaja" , "/Caj_LibroCaja" , "tbl_LibroCaja")
    }
</script>

<section>
    <h1><b>LIBRO DE CAJA GENERAL</b></h1>
</section>
<div class="box">
    <div>
        <h4>FILTRO</h4>
    </div>
    <div class="box-body">
        <form class="form">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-1">
                        <label for="_desde">Desde:</label>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-5">
                        @Html.TextBox( "txtDesde" ,  null , new { type="date" , @class="form-control"})
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-1">
                        <label for="_hasta" name="_hasta">Hasta:</label>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-5">
                        @Html.TextBox("txtHasta", null, new { type = "date", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-1">
                        <button type="button" class="btn btn-default" name="btnFiltrar" id="btnFiltrar">Filtrar</button>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>
<div class="box box-primary">
    <div class="box-body">
        <form class="form">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-1">
                        <button type="button" class="btn btn-info" name="btnNuevoLibro" id="btnNuevoLibro">Nuevo</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tbl_LibroCaja">
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="MyContainer"></div>

<div id="MyMessage"></div>
