
@{
    ViewBag.Title = "LibroCaja";
}

<section>
    <p4>Libro de Caja</p4>
</section>
<div class="box">
    <p1> Filtro </p1>
    <div class="box-body">
        <form class="form">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="_desde">Desde:</label>
                            </div>
                            <div class="col-xs-8">
                                <input type="date" name="_desde" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="_hasta"> Hasta: </label>
                            </div>
                            <div class="col-xs-9">
                                <input type="date" name="_hasta" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
