
@{
    ViewBag.Title = "RegistroOferta";
}

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="box box-body">
            <div class="col-md-8">
                <label for="Nombre">Nombre : </label>
                <input type="search" id="vc_dscpOferta">
            </div>
            <br />
            <table class="table table-bordered">
                <tr>
                    <th>Nombre de Oferta</th>
                    <th>Cant. Max</th>
                    <th>TOPE</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Estado</th>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <select class="form-control">
                            <option> </option>
                            <option>Habilitado</option>
                            <option>Deshabilitado</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br />
            <div class="col-xs-6 col-md-4">
                <button type="button" class="btn ">IMPRIMIR</button>
            </div>

            <br />
            <button type="button" class="btn">GUARDAR</button>
            <button type="button" class="btn">CANCELAR</button>
        </div>
    </div>
</section>
        </div>
