
@{
    ViewBag.Title = "RegistrarCompra";
    //Layout = "~/Views/Shared/Plantilla.cshtml";
}


<script type="text/javascript">

    function fn_Pedidos(a) {
                    //controller   action           parametros        contenedor del modal   id del modal
        fn_Detalles("/Com_Compra", "/_modalAgregarPedido", { a }, "MyContainer", "MDetalles");
    }

    function fn_Comprador(a) {
        //controller   action           parametros        contenedor del modal   id del modal
        fn_Detalles("/Com_Compra", "/_modalAgregarComprador", { a }, "MyContainer", "MDetalles");
    }
    function fn_Proveedor(a) {
        //controller   action           parametros        contenedor del modal   id del modal
        fn_Detalles("/Com_Compra", "/_modalAgregarProveedor", { a }, "MyContainer", "MDetalles");
    }


    function ListarMarca(_case, filtro) {
        fn_ListarTabla(_case, filtro, "/_modalMarca", "/Pro_Producto", "tblMarca");
    }


</script>


<div class="content">
    <!-- Encabezado Body -->
    <section class="content-header">
        <h1>
            Registrar Compra
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-laptop"></i>Gestionar Compras</a></li>
            <li><a href="@Url.Action("ListaCompras" , "ListaCompras", new { area = "Mod_Compra" } )">Compras</a></li>
            <li class="active">Registrar Compra</li>
        </ol>
    </section>
    <!-- Encabezado Body -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Primera Tabla -->
                <div class="box box-primary">
                    <form role="form">
                        <div class="form-group">
                            <div class="box-body">
                                <div class="col-md-12">
                                    <h4 class="col-md-3">Codigo de Compra : </h4>
                                    <h4 class="col-md-4">00001</h4>
                                    <h4 class="col-md-2">Fecha :</h4>
                                    <h4 class="col-md-3">12/11/2016</h4>
                                </div>
                                <div class="col-md-12">
                                    <h4 class="col-md-3">Tipo Comprobante : </h4>
                                    <h4 class="col-md-4">Factura </h4>
                                    <h4 class="col-md-2 text-left">N° Comprobante:</h4>
                                    <div class="col-md-3">
                                        <input class="form-control input-sm" type="text" placeholder="12345">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Primera Tabla -->

                <script>
                    $('.clockpicker').clockpicker();
                </script>

                <div class="box box-body">
                    <form role="form">
                        <div class="form-group">
                            <div class="box-body">
                                <div class="col-md-12">
                                    <h4 class="col-md-2">Comprador : </h4>
                                    <div class="col-md-4">
                                        <div class="input-group clockpicker">
                                            <input type="text" class="form-control">
                                            <div class="input-group-btn">
                                                <a class="btn btn-primary" data-toggle="modal" data-target=".example1" onclick="fn_Comprador('0')" role="button"><i class="fa fa-plus"></i></a> 
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="col-md-3">Fecha de Compra:</h4>
                                    <div class="col-md-3">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="datepicker">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <h4 class="col-md-2">Registrador : </h4>
                                    <h4 class="col-md-4">Nombre del Usuario</h4>
                                    <h4 class="col-md-2">Proveedor : </h4>
                                    <div class="col-md-4">
                                        <div class="input-group clockpicker">
                                            <input type="text" class="form-control">
                                            <div class="input-group-btn">
                                                <a class="btn btn-primary" data-toggle="modal" data-target=".example2" onclick="fn_Proveedor('0')" role="button"><i class="fa fa-plus"></i></a> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="box box-primary">
                    <form role="form">
                        <div class="form-group">
                            <div class="box-body">
                                <div>
                                    <div class="col-md-12">

                                        <h4 class="col-md-2">Pedido : </h4>
                                        <div class="col-md-4">
                                            <div class="input-group clockpicker">
                                                <input type="text" class="form-control">
                                                <div class="input-group-btn">
                                                    <a class="btn btn-primary" data-toggle="modal" data-target=".example3" onclick="fn_Pedidos('0')" role="button"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="CantidadBotones">
                                            <button type="button" class="btn btn-default">Cancelar</button>
                                            <button type="button" class="btn btn-primary">Agregar</button>
                                        </div>

                                        <style>
                                            .CantidadBotones {
                                                text-align: right;
                                            }
                                        </style>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="box box-body">
                    <form role="form">
                        <div class="form-group">
                            <div class="box-body">
                                <div>
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Detalle</th>
                                                        <th>Pedido</th>
                                                        <th>Descripcion</th>
                                                        <th>Cantidad</th>
                                                        <th>Total Producto</th>
                                                        <th>Operaciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>P0001</td>
                                                        <td>Camisa</td>
                                                        <td>3</td>
                                                        <td>150</td>
                                                        <td><button type="button" class="btn btn-info">Quitar</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>P0001</td>
                                                        <td>Pantalon</td>
                                                        <td>2</td>
                                                        <td>130</td>
                                                        <td><button type="button" class="btn btn-info">Quitar</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>P0002</td>
                                                        <td>Polo</td>
                                                        <td>5</td>
                                                        <td>120</td>
                                                        <td><button type="button" class="btn btn-info">Quitar</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>P0003</td>
                                                        <td>Abrigo</td>
                                                        <td>4</td>
                                                        <td>110</td>
                                                        <td><button type="button" class="btn btn-info">Quitar</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>P0004</td>
                                                        <td>Polo</td>
                                                        <td>2</td>
                                                        <td>110</td>
                                                        <td><button type="button" class="btn btn-info">Quitar</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="ExampleSubTotal">
                                        <h4 class="col-md-9">Sub Totral : </h4>
                                        <h4 class="col-md-3">S/. 290.00</h4>

                                        <h4 class="col-md-9">IGV : </h4>
                                        <h4 class="col-md-3">S/. 0.00</h4>

                                        <h4 class="col-md-9">Total Neto : </h4>
                                        <h4 class="col-md-3">S/. 290.00</h4>
                                    </div>

                                    <div class="col-md-12 CantidadBotones">
                                        <button type="button" class="btn btn-default">Cancelar</button>
                                        <button type="button" class="btn btn-primary">Grabar</button>
                                    </div>

                                    <style>
                                        .ExampleSubTotal {
                                            text-align: right;
                                        }
                                    </style>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
<div id="MyContainer"></div>
<!-- Modal -->


