
@{
    ViewBag.Title = "Index";
}



 <!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-primary">
                <form role="form">
                    <div class="form-group">
                        <div class="box-body">
                            <div>
                                <h4 class="col-md-3">Codigo: </h4>

                                <div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="codigo" placeholder="Ingrese codigo">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>


                <form role="form">
                    <div class="form-group">
                        <div class="box-body">
                            <div>
                                <h4 class="col-md-3">Descripcion : </h4>

                                <div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="descripcion" placeholder="Ingrese descripcion">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>


                <form role="form">
                    <div class="form-group">
                        <div class="box-body">
                            <div>
                                <h4 class="col-md-3">Abreviatura: </h4>

                                <div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="abreviatura" placeholder="Ingrese abreviatura">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form role="form">
                    <div class="form-group">
                        <div class="box-body">
                            <div>
                                <h4 class="col-md-3">Pais: </h4>
                                <div class="col-md-3">
                                    <select class="form-control">
                                        <option>Peru</option>
                                        <option>España</option>
                                        <option>Brazil</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>


        <div class="col-md-8">
            <div class="form-group">
                <p class="text-center">
                    <button type="submit" class="btn btn-primary">Guardar</button>


                    <a href="index.html" class="btn btn-primary">Cancelar</a>
                </p>
            </div>

        </div>

    </div>
</section>
        </div>

