
<!-- Modal -->
<div class="modal fade" id="MQuitarIngresoEgreso" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <strong>¿Esta Seguro que desea quitar este item?</strong>
            </div>
            <div class="modal-footer">
                <button type="button" name="btnSi" id="btnSi" class="btn btn-primary">SI</button>
                <button type="button" name="btnNo" id="btnNo" class="btn btn-default" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>


