
@{
    Layout = null;
}

 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Asignar rol</h1>
        <ol class="breadcrumb">
            <li><a href="#"></a></li>
            <li class="active"></li>
        </ol>
    </section>

    <!-- Main content -->

    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <div class="box box-primary">

                    <form role="form">
                        <div class="form-group">
                            <div class="box-body">
                                <div>
                                    <h4 class="col-md-3">Usuario : </h4>

                                    <div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="usuario" placeholder="Ingrese usuario">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <form role="form">
                        <div class="form-group">
                            <div class="box-body">
                                <div>
                                    <h4 class="col-md-3">Rol : </h4>

                                    <div>
                                        <div class="col-md-3">
                                            <select class="form-control">
                                                <option>Cajero</option>
                                                <option>Vendedor</option>
                                            </select>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>




                    <form role="form">
                        <div class="form-group">
                            <div class="box-body">
                                <div>
                                    <h4 class="col-md-3">fecha: </h4>

                                    <div>
                                        <div class="col-md-3">
                                            <input type="date" class="form-control" id="fecha" placeholder="">
                                        </div>

                                    </div>
                                    <br />
                                    <br />
                                    <button type="submit" class="btn btn-primary">Guardar</button>


                                    <a href="index.html" class="btn btn-primary">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>


            </div>
    </section>
</div>

