
@{
    ViewBag.Title = "Index";
}
 <!-- Main content -->

<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-primary">
                <form role="form">
                    <div class="form-group">
                        <div class="box-body">
                            <div>
                                <h4 class="col-md-3">Moneda/pais: </h4>

                                <div>
                                    <div class="col-md-3">
                                        <select class="form-control">
                                            <option>USD/USA</option>
                                            <option>SOL/PERU</option>
                                        </select>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form role="form">
                    <div class="form-group">
                        <div class="box-body">
                            <div>
                                <h4 class="col-md-3">A: </h4>

                                <div>
                                    <div class="col-md-3">
                                        <select class="form-control">
                                            <option>SOL/PERU</option>
                                            <option>USD/USA</option>
                                        </select>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>


                <form role="form">
                    <div class="form-group">
                        <div class="box-body">
                            <div>
                                <h4 class="col-md-3">fecha: </h4>

                                <div>
                                    <div class="col-md-3">
                                        <input type="date" class="form-control" id="fecha" placeholder="">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form role="form">
                    <div class="form-group">
                        <div class="box-body">
                            <div>
                                <h4 class="col-md-3">Precio compra: </h4>

                                <div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="precioCompra" placeholder="ingrese P/C">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>


                <form role="form">
                    <div class="form-group">
                        <div class="box-body">
                            <div>
                                <h4 class="col-md-3">Precio venta : </h4>

                                <div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="precioVenta" placeholder="Ingrese P/V">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>


            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <p class="text-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>


                        <a href="index.html" class="btn btn-primary">Cancelar</a>
                    </p>
                </div>

            </div>

        </div>
</section>
        </div>

