<!-- <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Iniciar Sesión</h1>
        <ol class="breadcrumb">
            <li><a href="#"></a>Sistema</li>
            <li class="active">Iniciar Sesión</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <form role="form">
                        <div class="form-group">
                            <div class="box-body">
                                <div class="form-group">
                                    <center>
                                        <table>
                                            <tr>
                                                <td>
                                                    <img src="imagenes/logo.png">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <br />
                                                    <br />
                                                    <div class="col-md-5">
                                                        <label for="Tipo_Documento">Usuario : </label>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <input type="text" id="c_codPersona">
                                                    </div>

                                                    <div class="box-body">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="col-md-5">
                                                        <label for="Tipo_Documento">Contraseña : </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text" id="c_codPersona">
                                                    </div>
                                                    <div class="box-body">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="Tipo_Documento">¿Olvidaste la Contraseña? </label>
                                                    <div class="box-body">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="col-md-2">

                                                        <div class="col-md-12">
                                                            <div class="CantidadBotones">
                                                                <button type="button" class="btn btn-primary">Iniciar Sesion</button>
                                                            </div>
                                                            <style>
                                                                .CantidadBotones {
                                                                    text-align: right;
                                                                }
                                                            </style>

                                                        </div>
                                                        <script type="text/javascript">
                                                            $('.clockpicker').clockpicker();
                                                        </script>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </center>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

        </div>

