

<button type="button" class="btn btn-xs " name="btnModificar" style="color:#ffffff;background-color:#2FCB21" data-toggle="modal" data-target="#Modificar">MODIFICAR</button>

<!-- Modal MODIFICAR-->
<div class="modal fade" id="Modificar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form">
                <div class="modal-header" style="background-color:#2FCB21">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center><h3 class="modal-title" style="color:#ffffff">MODIFICAR</h3></center>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label class="control-label">FECHA INICIAL:</label>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-7">
                                @Html.TextBox("txtFchInicial", null, new { type = "date", disabled="true" , @class ="form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label class="control-label">FECHA FINAL:</label>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-7">
                                @Html.TextBox("txtFchFinal", null, new { type = "date", disabled = "true", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label class="control-label">CAJA INICIAL:</label>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-7">
                                @Html.TextBox("txtCajInicial", null, new { type = "number", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label class="control-label">CAJA CHICA:</label>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-7">
                                @Html.TextBox("txtCajChica", null, new { type = "number", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="btnGuardar" class="btn btn-primary" data-dismiss="modal" id="btnGuardar" >GUARDAR</button>
                    <button type="button" name="btnCancelar" class="btn btn-default" data-dismiss="modal" id="btnCancelar">CANCELAR</button>
                </div>
            </form>
        </div>
    </div>
</div>