


<!--MODAL QUITAR-->
<div class="modal fade" id="MQuitarCajGeneral" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
               <h4>¿Esta Seguro que desea quitar este Registro?</h4>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" name="btnSi" id="btnSi">SI</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" name="btnNo" id="btnNo" >NO</button>
                </div>
            </div>
        </div>
    </div>
</div>

