
<button  type="button" data-toggle="alert" id="">ACEPTAR</button>

<div class="modal" id="Aceptar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <center><h2>SE GUARDO EXITOSAMENTE</h2></center>
            </div>
        </div>
    </div>
</div>
