
@*<a data-toggle="modal" href="#Actualizar">ACTUALIZAR</a>*@
<button type="button" class="btn btn-xs" style="color:#ffffff;background-color:#2FCB21" data-toggle="modal" data-target="#Actualizar">ACTUALIZAR</button>

<!-- Modal ACTUALIZAR-->
<div class="modal fade" id="Actualizar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header" style="background-color:#2FCB21">

                    <center><h4 class="modal-title" style="color:#ffffff">ACTUALIZAR DENOMINACION</h4></center>
                </div>
                <br />
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-lg-4 control-label">DESCRIPCION:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" name="btnGuardar" id="btnGuardar">GUARDAR</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" name="btnSalir" id="btnSalir">SALIR</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


