
@*<a data-toggle="modal" href="#Quitar">QUITAR </a>*@

<!--MODAL QUITAR-->
<div class="modal fade" id="MQuitarDenominacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <strong>¿Esta Seguro que desea quitar este item?</strong>
                <div class="modal-footer">
                    <button type="button" name="btnSi" id="btnSi" class="btn btn-primary" >SI</button>
                    <button type="button" name="btnNo" id="btnNo" class="btn btn-default" >NO</button>

                </div>
            </div>
        </div>
    </div>
</div>

