<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Compra" data-toggle="tab">Compra</a></li>
        <li><a href="#Lote" data-toggle="tab">Lote</a></li>
        <li><a href="#Imagen" data-toggle="tab">Imagen</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="Compra">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-4">Detalle Producto:</h4>
                        <h5 class="col-md-4">PR0001</h5>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-4">Compra:</h4>
                        <h5 class="col-md-2">C00001</h5>
                        <h4 class="col-md-4">Fecha de Registro:</h4>
                        <h5 class="col-md-2">10/11/2016</h5>
                    </div>
                </div>
                <hr width="95%" />
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-4">Sección:</h4>
                        <h5 class="col-md-2">Prendas</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-4">Tipo Producto:</h4>
                        <h5 class="col-md-3">Lorem Ipsum</h5>
                        <h4 class="col-md-4">Marca:</h4>
                        <h5 class="col-md-1">Nike</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-4">Categoria:</h4>
                        <h5 class="col-md-3">Lorem Ipsum</h5>
                        <h4 class="col-md-4">Sub Categoria:</h4>
                        <h5 class="col-md-1">Nike</h5>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-pane" id="Lote">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-4">Código Lote:</h4>
                        <h5 class="col-md-4">LT0001</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-4">Cantidad:</h4>
                        <h5 class="col-md-2">100</h5>
                        <h4 class="col-md-4">Registro:</h4>
                        <h5 class="col-md-2">08/11/2016</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-4">Fecha Fabricación:</h4>
                        <h5 class="col-md-2">05/02/2016</h5>
                        <h4 class="col-md-4">Fecha Vencimiento:</h4>
                        <h5 class="col-md-2">08/12/2016</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-4">Unidad de Compra:</h4>
                        <h5 class="col-md-2">Caja</h5>
                        <h4 class="col-md-4">Unidad de Venta:</h4>
                        <h5 class="col-md-2">Unidad</h5>
                    </div>
                </div>

                <hr width="95%" />
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-4">Ubicación:</h4>
                        <h5 class="col-md-4">AL0001</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-4">Stock Mínimo:</h4>
                        <h5 class="col-md-2">10</h5>
                        <h4 class="col-md-4">Stock Máximo:</h4>
                        <h5 class="col-md-2">100</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="Imagen">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <img class="col-md-3" src="../../Content/dist/img/Captura.png">
                        <img class="col-md-3" src="../../Content/dist/img/Captura.png">
                        <img class="col-md-3" src="../../Content/dist/img/Captura.png">
                        <img class="col-md-3" src="../../Content/dist/img/Captura.png">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h5 class="col-md-3">Angulo 1</h5>
                        <h5 class="col-md-3">Angulo 2</h5>
                        <h5 class="col-md-3">Angulo 3</h5>
                        <h5 class="col-md-3">Angulo 4</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default">Editar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
    </div>
</div>
