<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="col-lg-12">
        <h4 class="modal-title" id="exampleModalLabel">Angulo</h4>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <form>
            <div class="col-md-12">
                <div class="form-group">
                    <h4 class="col-md-2">Angulo :</h4>
                    <div class="col-md-3">
                        <input class="form-control input-sm" type="text">
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-block btn-primary">Nuevo</button>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <h4 class="col-md-2">Descripcion :</h4>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Registro</th>
                                <th>Descripcion</th>
                                <th>Operacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AG001</td>
                                <td>Lorem ipsum</td>
                                <td><button type="button" class="btn btn-info">Seleccionar</button></td>
                            </tr>
                            <tr>
                                <td>AG002</td>
                                <td>Lorem ipsum</td>
                                <td><button type="button" class="btn btn-info">Seleccionar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
</div>
