
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/Plantilla.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        ListarVenta(0, '');
        $("#txtIdVenta").keyup(fn_Filtrar);
    });

    function ListarVenta(_case, filtro) {
        fn_ListarTabla(_case, filtro, "/ListarVenta", "/Vta_Venta", "tblVenta");
    }

    function fn_Filtrar() {
        if ($("#txtIdVenta").val() != "") {
            ListarVenta(0, $("#txtIdVenta").val());
        }
        else {
            ListarVenta(0, '');
        }
    }



    function fn_DetallesVenta(pin_idVenta) {
                    //controller   action           parametros        contenedor del modal   id del modal
        fn_Detalles("/Vta_Venta", "/_modalDetalle", { i_idVenta: pin_idVenta }, "MyContainer", "MDetalles");
    }

    function fn_GenerarVenta(pin_idVenta) {
        //controller   action           parametros        contenedor del modal   id del modal
        fn_Detalles("/Vta_Venta", "/_modalGenerar", { i_idVenta: pin_idVenta }, "MyContainer", "MDetalles");
    }



</script>

<div class="content">
    <!-- Encabezado Body -->
    <section class="content-header">
        <h1>
            Ventas
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-laptop"></i>Gestionar Ventas</a></li>
            <li class="active">Lista Ventas</li>
        </ol>
    </section>
    <!-- Encabezado Body -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Primera Tabla -->
                <div class="box box-primary">
                    <form role="form">
                        <div class="form-group">
                            <div class="box-body">
                                <div>
                                    <div class="col-md-2">
                                        <a href="@Url.Action("RegistrarVenta" , "Vta_Venta" )"><button type="button" class="btn btn-block btn-primary">Registrar Venta</button></a>
                                    </div>
                                    <div class="FechaForm1">
                                        <h4 class="col-md-8">Fecha:</h4>
                                        <h4 class="col-md-2">@DateTime.Now.ToShortDateString()</h4>
                                    </div>
                                    <style>
                                        .FechaForm1 {
                                            text-align: right;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Primera Tabla -->
                <!-- Segunda Tabla -->
                <div class="box box-body">
                    <form role="form">
                        <div class="form-group">
                            <div class="box-body">
                                <div>
                                    <h4 class="col-md-2 text-left">Fecha Inicio :</h4>
                                    <!-- Boton de DateRange -->
                                    <div class="col-md-2">
                                        
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="datepicker">
                                        </div>
                                        
                                    </div>
                                    <h4 class="col-md-2 text-left">Fecha Fin :</h4>
                                    <!-- Boton de DateRange -->
                                    <div class="col-md-2">
                                        
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="datepicker">
                                        </div>
                                        
                                    </div>
                                    <!-- Boton de DateRange -->

                                    <h4 class="col-md-2 text-left">Código de Venta:</h4>
                                    <!-- Boton de Busqueda -->
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            <input id="txtIdVenta" type="number" name="q" class="form-control" placeholder="Buscar...">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" style="width:100%" onclick="fn_Filtrar()">
                                                    <span class="fa fa-search"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Boton de Busqueda -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Segunda Tabla -->
                <!-- Tercera Tabla - Compras -->
                <div class="box box-primary">
                    <form role="form">
                        <div class="form-group">
                            <div class="box-body">
                                <div>
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped" id="tblVenta"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <nav class="pull-right">
                                        <ul class="pagination">
                                            <li><a href="#" aria-label="Anterior"><span aria-hidden="true">«</span></a></li>
                                            <li class="active"><a href="#">1 <span class="sr-only">(página actual)</span></a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#" aria-label="Siguiente"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Tercera Tabla - Compras -->
            </div>
        </div>
    </section>
    <!-- Main content -->
</div>

<!-- Modal -->
<div id="MyContainer"> </div>
<div id="MyMessage"> </div>
<!-- Modal -->
