@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border: 1px;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<center><table border="1">
    <caption >REPORTE DE VENTAS</caption>
    <tr>
        <th>Fecha de Registro</th>
        <th>Numero Comprobante</th>
        <th>Tipo de Comprobante</th>
        <th>Vendedor</th>
        <th>Cliente</th>
        <th>Moneda</th>
    </tr>
</table></center>
<h1 >HOLA MUNDO</h1>
<button>Exportar Reportes</button>